.boxeiei {
  background-repeat: no-repeat;
  background-position: center center;
  /*background-size: cover;*/
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
  padding: 7em 0; }
  .boxeiei .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .boxeiei a:hover {
    color: #fff; }
  .boxeiei h2 {
    color: #fff; }
  .boxeiei p {
    color: rgba(255, 255, 255, 0.7); }
  .boxeiei > .container > .row {
    padding: 7em 0; }