.boxder {
  background-repeat: no-repeat;
  background-position: center center;
  /*background-size: cover;*/
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 500px;
  padding: 7em 0; }
  .boxder .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .boxder a:hover {
    color: #fff; }
  .boxder h2 {
    color: #fff; }
  .boxder p {
    color: rgba(255, 255, 255, 0.7); }
  .boxder > .container > .row {
    padding: 7em 0; }

.probootstrap-forma {
  /*margin-top: -85px;*/
  margin-bottom: 0px;
  padding: 40px;
  background: rgb(208, 132, 132);
  margin-bottom: 50px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0px; }
  @media (max-width: 991px) {
    .probootstrap-forma {
      padding: 15px; } }
  .probootstrap-forma image {
    font-weight: normal; }
  .probootstrap-forma .forma-control {
    height: 46px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #ac2929; }
    .probootstrap-forma .forma-control:active, .probootstrap-forma .forma-control:focus, .probootstrap-forma .forma-control:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid #ac2929; }
  .probootstrap-forma .forma-group:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }
  .probootstrap-forma .forma-group label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px; }
  .probootstrap-forma .forma-group .forma-field {
    position: relative; }
    .probootstrap-forma .forma-group .forma-field .icon {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 20px; }
    .probootstrap-forma .forma-group .forma-field .forma-control {
      padding-right: 50px; }
  .probootstrap-forma textarea.forma-control {
    height: inherit;
    resize: vertical; }